body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.layout {
  position: relative;
  margin: 0 auto;
  max-width: 1046px;
  min-width: 800px;
}
.header {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0 0 0/10%);
  height: 100px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid rgba(0 0 0/10%);
  border-radius: 1rem;
}
.textArea {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.label {
  font-size: 1.8rem;
  font-weight: bold;
}
.textInput {
  width: 20rem;
  height: 1.8rem;
  border: 1px solid white;
  border-radius: 1rem;
}
.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.list-box {
  padding: 2rem;
  background: white;
  border: 1px solid black;
  border-radius: 1rem;
}
.btns {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 600px;
  height: 400px;
  padding: 50px;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.id_box {
  display: flex;
  justify-content: space-between;
}
.list-header {
  display: flex;
  justify-content: space-between;
}